@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.meat-items{
    display: flex;
    flex-direction: row;
}

 
.meat-container{
    margin-top: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.meat-title{
    font-family: 'Bebas Neue';
    font-size: 100px;
    padding-bottom: 100px;
}

.button {
    display:flex;
    width: 300px;
    height: 120px;
    background-color: orange;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Bebas Neue';
    margin: 80px;
    font-size: 90px;
    box-shadow: 0px 5px 5px orange;
    border-color: transparent;
    transition: 300ms ease-in-out;
    text-shadow: black 0.03em 0.03em 0.05em;
}
.button:hover{
    transition: 300ms ease-in-out;
    color: white;
    font-size: 70px;
}
.button:active{
    border: 5px solid black;
}


