@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer{
    bottom: 0;
    color:black;
    background-color: #e53434;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 600;
    height: 100px;
    margin-top: 200px;
}